*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration:none ;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(35, 37, 36);
     color: rgb(214, 213, 201); 
    margin-left: 3rem;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    Z-index:1000; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%; 

    border-bottom: 1px solid transparent;
    transition:all .45s ease;
}
.logo{
    color: rgb(39, 202, 30);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: rgb(176, 177, 209);
}
.navlist{
display: flex;
}
.navlist a{
    color: rgb(224, 209, 224);
    font-size: 17px;
    font-weight: 500;
    margin:0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: rgb(228, 116, 17);
}
.navlist a.active{
    color: brown;
}

#menu-icon{
    font-size: 35px;
    color: antiquewhite;
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
}
section{
    padding: 160px 15% 120px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-image: url("./images/background5.jpg"); */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;

}
.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    background-color: rgb(255, 119, 0);
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    border-radius: 5px;
}
.two{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}
.home-text h1{
font-size: 34px;
font-weight: 700;
color: rgb(69, 162, 18);
list-style: 1.1;
margin: 0 0 8px;
}
.home-text h3{
    color: rgb(153, 224, 72);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 200;
    line-height: 1;
}
.home-text p{
    color: rgb(69, 162, 18);
    font-size: 16px;
    margin-bottom: 40px;
}
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* padding: 12px 22px;*/
} 
.btn{display: inline-block;
    padding: 12px 28px ;
    background-color: rgb(60, 53, 53);
    color: rgb(195, 214, 214);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    color: rgb(172, 195, 195);
    margin-left: 35px;
}
.btn:hover{
    transform: scale(0.9);
}
.btn2 span i{
    height: 55px;
    width: 55px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}
.btn2 span i:hover{
    transform: scale(1.1) translateY(5px);
}

header.sticky{
    background-color: blue;border-bottom: 1px solid #ffffff1a;
    padding:12px 15px
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap:1.5 rem;
}
video{
    max-width: 400px;
    height: 400px;
    width: 100%;
    /* border-radius: 8px; */
}
.about-text h2{
    font-size: 19px;
    line-height: 1;
    
}
.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: aquamarine;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aqua;
    width: 470px;
    font-size: 19px;
    line-height: 1.8;
    margin-bottom: 4rem;
}
.services{
    background-color: rgb(13, 13, 15);
}
.main-text{
    text-align: center;
}
.main-text p{
    color: rgb(215, 215, 227);
    font-size: 22px;
    font-weight: 300;
}
.main-text h2{
    font-size: 16px;
    line-height: 1;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px ,auto));
    gap :2.5rem;
    margin-top: 5rem;
}
.box{
    background-color:mediumvioletred;
    padding: 50px 20px;
    border-radius: 10px;
    transition: all .45s ease;
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
.box h3{
    color: yellowgreen;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
}
.box p{
    color: orangered;
    font-size: 1rem;
    line-height: 1.9;
    margin-bottom: 5px;
}
.s-icons{
font-size: 32px;
margin-bottom: 20px;
}
.read{
 display: inline-block;
 padding: 9px 20px;
 background: #dbc6c6;
 color: aqua;
 font-size: 14px;
 font-weight: 500;
 border-radius: 10px;
 transition:all .45s ease;
}
.read:hover{
letter-spacing: 1px;
background: #ffffff99;
color: blue;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#ff004f);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: rgb(20, 22, 23);
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #aa808d;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.2);
}
.row:hover .layer{
    height: 100%;
}

.contact{
    background: #aa808d;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.contact-text{
color: rgb(58, 30, 7);
margin: 10px 0;
font-size: 20px;
font-weight: 600;
}
.contact-text h2{
    font-size: 33px;
    line-height: 1;
}
.contact-text p{
    color: green;
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 30px;
}
.list{
    margin-bottom: 2.8rem;
}
.list li{
    margin-bottom: 12px;
}
.list li a{
    display: block;
    color: antiquewhite;
    font-size: 22px;
    transition: all .45s ease;
}
.list li a:hover{
color: blueviolet;
transform: translateX(10px);
}
.contact-icons i{
height: 45px;
width: 45px;
font-size: 22px;
align-items: center;
justify-content: center;
display: inline-block;
background: #aa3c3c;
color: black;
border-radius: 10px;
margin-right: 15px;
transition: all .45s ease;
}
.contact-icons i:hover{
    background: #dbc6c6;
    color: blue;
}
.contact-form{
position: relative;
}
.contact-form form input, form textarea{
    width: 100%;
    padding: 14px;
    background: #ca9191;
    color: rgb(29, 148, 148);
    border:none;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.contact-form textarea{
    resize: none;
    height: 240px;
}
.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: #aa3c3c;
    color: black;
    width: 160px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}































